@Model WebDashboardSecundaria.Models.GrupoProfesorMateriaGradoOrientadorReportes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GrupoProfesorMateriaGradoOrientadorReportes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(Model => Model.GrupoID)
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.GrupoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.ProfesorID)
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.ProfesorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.MateriaGradoID)
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.MateriaGradoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.OrientadorID)
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.OrientadorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.CicloEscolarID)
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.CicloEscolarID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
