@model IEnumerable<WebDashboardSecundaria.Models.GrupoProfesorMateriaGradoOrientadorReportes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GrupoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfesorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MateriaGradoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrientadorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CicloEscolarID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GrupoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfesorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MateriaGradoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrientadorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CicloEscolarID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
