@Model WebDashboardSecundaria.

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.lordicon.com/lordicon-1.1.0.js"></script>
    <script src="https://kit.fontawesome.com/a3c9717c3d.js" crossorigin="anonymous"></script>
    <link href="~/Styles/Escuelas.css" rel="stylesheet" />
</head>
<body>
    <nav class="app__secundaria-nav">
        <div>

        </div>
        <div>
            <span class="icon-nav">
                <lord-icon src="https://cdn.lordicon.com/isimtviy.json"
                           trigger="hover"
                           colors="primary:#e4e4e4,secondary:#e4e4e4"
                           style="width:50px;height:50px">
                </lord-icon>
            </span>
        </div>
        <div>
            <span class="icon-settings">
                <i class="fa-solid fa-gear"></i>
            </span>
        </div>
    </nav>
    <div class="app__secundaria-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="">
                <div class="app__secundaria-form_redirections">
                    <div>
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "redirection-icon" })
                    </div>
                    <p class="route-text">Inicio / Escuela / Añadir Escuela</p>
                </div>
                <div class="app__secundaria-form_Add">
                    <div class="app__secundaria-form_Add-title">
                        <h4>Añadir Escuela</h4>
                    </div>
                    <div class="line-row"></div>
                    <div class="app__secundaria-form_Add-inputs">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-input">
                            @Html.LabelFor(Model => Model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" }):
                            <div class="col-md-10">
                                @Html.EditorFor(Model => Model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(Model => Model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-input">
                            @Html.LabelFor(Model => Model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" }):
                            <div class="col-md-10">
                                @Html.EditorFor(Model => Model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(Model => Model.Direccion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="section-btn">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Añadir" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <script>
        var redirection = document.querySelector(".redirection-icon");
        redirection.innerHTML = `<span class="icon-back"><i class="fa-solid fa-reply"></i></span>`
    </script>
</body>
</html>
