@Model WebDashboardSecundaria.Models.Escuelas

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.lordicon.com/lordicon-1.1.0.js"></script>
    <script src="https://kit.fontawesome.com/a3c9717c3d.js" crossorigin="anonymous"></script>
    <link href="~/Styles/Escuelas.css" rel="stylesheet" />
</head>
<body>
    <nav class="app__secundaria-nav">
        <div>

        </div>
        <div>
            <span class="icon-nav">
                <lord-icon src="https://cdn.lordicon.com/isimtviy.json"
                           trigger="hover"
                           colors="primary:#e4e4e4,secondary:#e4e4e4"
                           style="width:50px;height:50px">
                </lord-icon>
            </span>
        </div>
        <div>
            <span class="icon-settings">
                <i class="fa-solid fa-gear"></i>
            </span>
        </div>
    </nav>
    <div class="app__secundaria-content">
        <div>
            <div class="app__secundaria-form_redirections">
                <div>
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "redirection-icon" })
                </div>
                <p class="route-text">Inicio / Escuela / Detalles</p>
            </div>
            <div class="-horizontal">

                    @Html.DisplayFor(Model => Model.Administrador.Nombre)
                    @Html.DisplayFor(Model => Model.Nombre)
                    @Html.DisplayFor(Model => Model.Direccion)
                    @Html.DisplayFor(Model => Model.Estatus)

            <div/>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
    <script>
        var redirection = document.querySelector(".redirection-icon");
        redirection.innerHTML = `<span class="icon-back"><i class="fa-solid fa-reply"></i></span>`
    </script>
</body>
</html>
