@model IEnumerable<WebDashboardSecundaria.Models.Escuelas>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.lordicon.com/lordicon-1.1.0.js"></script>
    <script src="https://kit.fontawesome.com/a3c9717c3d.js" crossorigin="anonymous"></script>
    <link href="~/Styles/Escuelas.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <nav class="app__secundaria-nav">
        <div>

        </div>
        <div>
            <span class="icon-nav">
                <lord-icon src="https://cdn.lordicon.com/isimtviy.json"
                           trigger="hover"
                           colors="primary:#e4e4e4,secondary:#e4e4e4"
                           style="width:50px;height:50px">
                </lord-icon>
            </span>
        </div>
        <div>
            <span class="icon-settings">
                <i class="fa-solid fa-gear"></i>
            </span>
        </div>
    </nav>
    <div class="app__secundaria-content">
        <div class="app__secundaria-content_present">
            <h1>Bienvenido,</h1>
            <p>Juan Daniel Garcia Alvarado</p>
        </div>
        <div class="app__secundaria-content_list">
            
                @Html.ActionLink("Añadir", "Create", null, new { @class = "icon-add-es" })


            @foreach (var item in Model)
            {
                <div class="app__secundaria-item">
                    <div class="app__secundaria-item_menu">
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "option-menu icon-edit-es" })
                        @Html.ActionLink("Detalles", "Details", new { id = item.ID }, new { @class = "option-menu icon-details-es" })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID }, new { @class = "option-menu icon-delate-es" })
                    </div>
                    <span class="icon-menu_item">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </span>
                    <div class="app__secundaria-item_info">
                        <div class="app__secundaria-item_info-NL">
                            <div>@Html.DisplayFor(modelItem => item.Nombre)</div>
                            <div>@Html.DisplayFor(modelItem => item.Direccion)</div>
                        </div>
                        <div class="app__secundaria-item_info-btn">
                            <span>
                                <i class="fa-solid fa-chevron-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="~/Scripts/IconosEscuelas-Index.js"></script>
</body>
</html>
