@Model IEnumerable<WebDashboardSecundaria.Models.Tutors>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.Contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.Estatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(ModelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(ModelItem => item.Contraseña)
        </td>
        <td>
            @Html.DisplayFor(ModelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(ModelItem => item.Estatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
