@Model WebDashboardSecundaria.Models.Grupoes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Grupoes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(Model => Model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.EscuelaID)
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.EscuelaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.GradoID)
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.GradoID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
